{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
                <h3>Your activities in teams</h3>
                <br/>
                {% for team, activities in all_teams_activities %}
                    <h4>Team: {{ team.team_name }}</h4>
                    <ol>
                        {% for activity in activities %}
                            <li>{{ activity.active_from }} {% if activity.active_until %} - {{ activity.active_until }} {% endif %}</li>
                         {% endfor %}
                    </ol>
                    <br/>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
