{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header" id="banner">
        <div class="row from_top">
            Tukaj je bo prostor za dodajanje novih skupin
        </div>
    </div>
</div>
{% endblock %}