{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                {% if permission_error %}
                    <p> {{ permission_error }}</p>

                {% else %}

                    {% if create_team_form %}

                        <form action="" method="post" style="width: 400px">
                        <h4 class="form-signin-heading">Please create your team</h4>
                            <br/>
                            {% csrf_token %}

                                {{ create_team_form.non_field_errors }}


                                {% for error in create_team_form.team_name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_team_name">Team name</label>
                                <p>{{ create_team_form.team_name }}</p>
                                <br/>
                                {% for error in create_team_form.product_owner.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_product_owner">Product owner</label>
                                <p>{{ create_team_form.product_owner }}</p>
                                <br/>
                                {% for error in create_team_form.kanba_master.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_kanban_master">Kanban master</label>
                                <p>{{ create_team_form.kanban_master }}</p>
                                <br/>
                                {% for error in create_team_form.developers.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_developers">Developers</label>
                                <p>{{ create_team_form.developers }}</p>


                            <button class="btn btn-primary" type="submit">Create Team</button>
                        </form>

                    {% else %}
                        <h4 class="form-signin-heading">Team successfully created!</h4>

                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}









    {% comment %}
     <!--Display form for creating new team -->
            {% if form %}
                <p>DODAJ NOVO EKIPO</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>

            <!--Name of the team has been chosen - add users to the team-->
            {% elif submitted %}
                <form action="{% url 'find_members' %}" method="post">
                    {% csrf_token %}
                    {{ add_member_form.as_p }}
                    <input type="submit" value="Submit" />
                </form>
                <br />
                {% if users %}
                    {% for user in users %}

                        <p>{{ user.first_name }} {{ user.last_name }} - {{ user.username }} <a href="/teams/add_team/find_members/{{ user.id }}">Dodaj</a></p>
                    {% endfor %}
                {% elif error %}
                    <p> {{ error }}</p>
                {% endif %}

                <p>Dosedaj dodani uporabniki</p>
                {% for user in users_added %}

                    <p>{{ user.first_name }} {{ user.last_name }} <a href="/teams/add_team/remove_member/{{ user.id }}">Odstrani</a></p>
                {% endfor %}



            {% endif %}

            {% if create_team_form %}
                <p>DODAJ NOVO EKIPO</p>
                <form action="" method="post">
                      {% csrf_token %}
                      {{ create_team_form.as_p }}
                <input type="submit" value="Submit" />
                </form>

            {% elif ok %}
                <p>Team name: {{ team_name }}</p>

                {% comment %}

                <form action="roles" method="post">
                        {% csrf_token %}
                        <p>Select product owner
                        <select name="product_owner">
                        {% for member in team_members %}
                            <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                        {% endfor %}
                        </select>
                        </p>

                        <br/>

                        <p>Select kanban master
                        <select name="kanban_master">
                        {% for member in team_members %}
                            <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                        {% endfor %}
                        </select>
                        </p>

                        <br/>

                        <p>Select team developers:
                        {% if no_developers_error %}
                            {{ no_developers_error }}
                        {% endif %}

                        <table width="300px">
                        {% for member in team_members %}
                            <tr>
                                <td>{{ member.first_name }} {{ member.last_name }}</td>
                                <td><input type="checkbox" name="developers" value="{{ member.id }}"> {{ role.role_name }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        </p>

                    <input type="submit" value="Submit" />
                </form>



                <form action="roles" method="post">
                    {% csrf_token %}
                    {{ assign_role_form.as_p }}
                    <input type="submit" value="Submit" />
                </form>



            {% endif %}


            {% if message %}
                {{ message }}
            {% endif %}


                {% for t in tmi %}
                {{ t }}
                {% endfor %}
            {% endcomment %}
