{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
                <h4>Team name: </h4>
                <p>{{ team.team_name }}</p>

                <br/>

                <h4>Product owner:</h4>
                <p>{{ po.user.first_name }} {{ po.user.last_name }} ({{ po.user.username }})</p>

                <br/>

                <h4> Kanban master: </h4>
                <p>{{ kbm.user.first_name }} {{ kbm.user.last_name }} ({{ kbm.user.username }})</p>

                <br/>

                <h4> Developers: </h4>
                {% for developer in developers %}
                    <p> {{ developer.user.first_name }} {{ developer.user.last_name }} -  {{ developer.user.username }} </p>
                {% endfor %}

                <br/>

                {% if request.user.userprofile.id == kbm.id %}
                    <a href="{% url 'update_team' team.id %}"> Update </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
