{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
                {% if teams|length > 0 %}
                    <h3>Your teams</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Team</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                                <tr>
                                    <td>{{ team.team_name }} <a href="{% url 'show_team' team.id %}" style="float:right"> Show </a></td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>You do not have any team. {% if request.user.userprofile.can_be_kbm %} Create your first. {% endif %}</h3>
                {% endif %}
                {% if request.user.userprofile.can_be_kbm %}
                    <a href="{% url 'create_team' %}"><button type="button" class="btn btn-primary">Create team</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
