{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                {% if permission_error %}

                    <p> {{ permission_error }} </p>

                {% elif update_team_form %}

                    <form action="" method="post" style="width: 400px">
                    <h4 class="form-signin-heading">Please update your team ({{ team.team_name }})</h4>
                        <br/>
                        {% csrf_token %}

                            {% if update_team_form.non_field_errors %}
                            {% for error in update_team_form.non_field_errors %}
                                <p style="color: red; font-weight: bold">{{ error }}</p>
                            {% endfor %}
                            <br/>
                            {% endif %}

                            {% for error in update_team_form.product_owner.errors %}
                                <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                            {% endfor %}
                            <label for="id_product_owner">New product owner (if no change, leave)</label>
                            <p>{{ update_team_form.product_owner }}</p>
                            <br/>
                            {% for error in update_team_form.kanban_master.errors %}
                                <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                            {% endfor %}
                            <label for="id_kanban_master">New kanban master (if no change, leave)</label>
                            <p>{{ update_team_form.kanban_master }}</p>
                            <br/>
                            {% for error in update_team_form.add_developers.errors %}
                                <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                            {% endfor %}
                            <label for="id_add_developers">New developers</label>
                            <p>{{ update_team_form.add_developers }}</p>
                            <br/>
                            {% for error in update_team_formremove_developers.errors %}
                                <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                            {% endfor %}
                            <label for="id_remove_developers">Remove developers</label>
                            <p>{{ update_team_form.remove_developers }}</p>


                        <button class="btn btn-primary" type="submit">Update Team</button>
                    </form>

                {% else %}

                    <h4 class="form-signin-heading">Team successfully updated!</h4>

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}