{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                {% if permission_error %}
                    <p> {{ permission_error }}</p>

                {% else %}

                    {% if edit_project_form %}

                        <form action="" method="post" style="width: 400px">
                        <h4 class="form-signin-heading">Please edit your project</h4>
                            <br/>
                            {% csrf_token %}



                                {{ edit_project_form.non_field_errors }}


                                {% for error in edit_project_form.code.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_code">Project code</label>
                                <p>{{ edit_project_form.code }}</p>
                                <br/>
                                {% for error in edit_project_form.title.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_title">Project title</label>
                                <p>{{ edit_project_form.title }}</p>
                                <br/>
                                {% for error in edit_project_form.client_name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_client_name">Client name</label>
                                <p>{{ edit_project_form.client_name }}</p>
                                <br/>
                                {% for error in edit_project_form.start_date.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_start_date">Start date</label>
                                <p>{{ edit_project_form.start_date }}</p>
                                <br/>
                                {% for error in edit_project_form.anticipated_end_date.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_anticipated_end_date">Anticipated end date</label>
                                <p>{{ edit_project_form.anticipated_end_date }}</p>
                                <br/>
                                 {% for error in edit_project_form.finished_date.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_finished_date">Finished date</label>
                                <p>{{ edit_project_form.finished_date }}</p>
                                <br/>
                                {% for error in edit_project_form.team.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_team">Team</label>
                                <p>{{ edit_project_form.team }}</p>
                                <br/>


                                <script>
                                    {% if not project.work_started %}
                                    $('#id_start_date').datepicker({
                                        format: 'yyyy-mm-dd',
                                        endDate: '+0d',
                                        autoclose: true
                                    });
                                    {% endif %}
                                    $('#id_anticipated_end_date').datepicker({
                                        format: 'yyyy-mm-dd',
                                        autoclose: true
                                    });
                                    $('#id_finished_date').datepicker({
                                        format: 'yyyy-mm-dd',
                                        startDate: '+1d',
                                        autoclose: true
                                    });
                                </script>



                            <button class="btn btn-primary" type="submit">Edit Project</button>
                        </form>

                {% else %}
                    <h4 class="form-signin-heading">Project has been successfully edited!</h4>

                {% endif %}

            {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}