{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
                {% if projects|length > 0 %}
                    <h3>Your projects</h3>

                    {% if deactivation_error %}
                         <p style="color: red; font-weight: bold">{{ deactivation_error }}</p>
                    {% endif %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Client name</th>
                            <th>Team</th>
                            <th>Active</th>
                            <th>Work started</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project, team_kbm in projects %}
                                <tr>
                                    <td> {{ project.code }} </td>
                                    <td> {{ project.title }} </td>
                                    <td> {{ project.client_name }} </td>
                                    <td> {{ project.team.team_name }} </td>
                                    <td> {% if project.is_active %} Yes {% else %} No {% endif %}</td>
                                    <td> {% if project.work_started %} Yes {% else %} No {% endif %}</td>
                                    <td>
                                        {% if request.user.userprofile.id == team_kbm.id %}
                                            <a href="{% url 'edit_project' project.id %}"> <span class="glyphicon glyphicon-edit"> Edit </span></a>
                                            {% if project.is_active %}
                                                <a href="{% url 'deactivate_project' project.id %}"> <span class="glyphicon glyphicon-remove-circle"> Deactivate </span></a>
                                            {% else %}
                                                <a href="{% url 'activate_project' project.id %}"> <span class="glyphicon glyphicon-ok-circle"> Activate </span></a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>You do not have any projects. {% if request.user.userprofile.can_be_kbm %} Create your first. {% endif %}</h3>
                {% endif %}
                {% if request.user.userprofile.can_be_kbm %}
                    <a href="{% url 'create_project' %}"><button type="button" class="btn btn-primary">Create project</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
