{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">
                    {% if boards|length > 0 %}
                        <h3>Your boards</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Team</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for board in boards %}
                                <tr>
                                    <td>{{ board.name}} <a href="{% url 'display_board' board.pk %}" style="float:right"> Show </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3>You do not have any boards. {% if request.user.userprofile.can_be_kbm %} Create your first. {% endif %}</h3>
                    {% endif %}
                    {% if request.user.userprofile.can_be_kbm %}
                        <a href="{% url 'create_board' %}"><button type="button" class="btn btn-primary">Create board</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
