{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    {% if permission_error %}
                        <p> {{ permission_error }}</p>

                    {% else %}

                        {% if board_properties_form %}

                            <form action="" method="post" style="width: 400px">
                                <h4 class="form-signin-heading">Cards settings</h4>
                                <br/>
                                {% csrf_token %}

                                {{ board_properties_form.non_field_errors }}

                                {% for error in board_properties_form.name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_name">Should display priority?</label>
                                <p>{{ board_properties_form.should_display_priority }}</p>
                                <br />
                                <label for="id_name">Should display points?</label>
                                <p>{{ board_properties_form.should_display_points }}</p>
                                <br />
                                <label for="id_name">Should display date to finish?</label>
                                <p>{{ board_properties_form.should_display_date_to_finish }}</p>
                                <br />
                                <label for="id_name">Number of days reminder prior card is finished:</label>
                                <p>{{ board_properties_form.n_days_reminder }}</p>
                                <br />

                                <button class="btn btn-primary" type="submit">Update cards settings</button>
                            </form>


                        {% else %}
                            <h4 class="form-signin-heading">Cards settings successfully updated!</h4>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
