{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    {% if permission_error %}
                        <p> {{ permission_error }}</p>

                    {% else %}

                        {% if create_swim_lane_form %}

                            <form action="" method="post" style="width: 400px">
                                <h4 class="form-signin-heading">Create a Swim Lane</h4>
                                <br/>
                                {% csrf_token %}

                                {{ create_swim_lane_form.non_field_errors }}

                                {% for error in create_swim_lane_form.name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_name">Project</label>
                                <p>{{ create_swim_lane_form.project }}</p>
                                <br />

                                <button class="btn btn-primary" type="submit">Create Swim Lane</button>
                            </form>


                        {% else %}
                            <h4 class="form-signin-heading">Swim lane successfully created!</h4>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
