{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    {% if permission_error %}
                        <p> {{ permission_error }}</p>

                    {% else %}

                        {% if create_board_form %}

                            <form action="" method="post" style="width: 400px">
                                <h4 class="form-signin-heading">{{ title }}</h4>
                                <br/>
                                {% csrf_token %}

                                {{ create_board_form.non_field_errors }}

                                {% for error in create_board_form.board_name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_board_name">Board name</label>
                                <p>{{ create_board_form.board_name }}</p>


                                <button class="btn btn-primary" type="submit">Create Board</button>
                            </form>

                        {% else %}
                            {% if message %}
                                <h4 class="form-signin-heading">{{ message }}</h4>
                            {% endif %}
                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
