{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    {% if permission_error %}
                        <p> {{ permission_error }}</p>

                    {% else %}

                        {% if create_column_form %}

                            <form action="" method="post" style="width: 400px">
                                <h4 class="form-signin-heading">Create a column</h4>
                                <br/>
                                {% csrf_token %}

                                {{ create_column_form.non_field_errors }}

                                {% for error in create_column_form.name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_name">Column name</label>
                                <p>{{ create_column_form.name }}</p>
                                <br />
                                {% for error in create_column_form.wip_limit.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_name">WIP limit</label>
                                <p>{{ create_column_form.wip_limit }}</p>
                                <br />
                                <label for="id_name">Is this column a border column?</label>
                                <p>{{ create_column_form.is_border_column }}</p>
                                <br />
                                <label for="id_name">Is this column a highest priority card column?</label>
                                <p>{{ create_column_form.is_highest_priority_card_column }}</p>
                                <br />
                                <label for="id_name">Is this column acceptance testing column?</label>
                                <p>{{ create_column_form.is_acceptance_testing_column }}</p>
                                <br />


                                <button class="btn btn-primary" type="submit">Create a column</button>
                            </form>

                        {% else %}
                            <h4 class="form-signin-heading">Column successfully created!</h4>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
