{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    <h4 class="form-signin-heading">Click on a project do delete it's swim lane on board {{ board }}</h4>
                    <br/>

                    {% for swim_lane, project in swimLane_project %}
                        <a href="{% url 'delete_swim_lane' swim_lane.id %}" class="btn btn-danger btn-large">
                            <i class="icon-white icon-remove"></i> Delete swim lane '<b>{{ project }}</b>'
                        </a>

                        <br /><br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
