{% extends "base_table.html" %}
{% load staticfiles %}
{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}



{% block header_content %}
    <span style="line-height: 2.3; color: white; margin-left: 15px; font-size: 1.5em;"></span>
{% endblock %}

{% block content %}


    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        function collapse(event, column) {
            var a = event;
            $('#board tr').find('td:nth-child(' + column + '),th:nth-child(' + column + ')').hide();
        }
        $(function () {
            $(".sortable").sortable({
                connectWith: ".connectedSortable",
                receive: function (event, ui) {
                    var curr_colum = parseInt(ui.originalPosition.left / 200);
                    var next_colum = parseInt(event.pageX / 200);
                    if (event.target.parentNode.parentNode.id != ui.sender[0].parentNode.parentNode.id) {
                        alert("Please move within swimming lane.");
                        location.reload();
                    } else if (Math.abs(curr_colum - next_colum) > 1) {
                        alert("Please move for one column at the time.");
                        location.reload();
                    } else {
                        if (curr_colum - next_colum == 1) {
                            if (ui.item[0].firstElementChild.id.split(";")[2] == "lr" || ui.item[0].firstElementChild.id.split(";")[2] == "l") {
                                var data = ui.item[0].firstElementChild.id.split(";");
                                window.location = "{% url 'move_card' 999 998 "left" %}".replace('999', data[0]).replace('998', data[1]);

                            }
                        } else if (curr_colum - next_colum == -1) {
                            if (ui.item[0].firstElementChild.id.split(";")[2] == "lr" || ui.item[0].firstElementChild.id.split(";")[2] == "r") {
                                var data = ui.item[0].firstElementChild.id.split(";");
                                window.location = "{% url 'move_card' 999 998 "right" %}".replace('999', data[0]).replace('998', data[1]);
                            }
                        }

                        //
                    }
                }
            }).disableSelection();
            $(".sortable").sortable({
                placeholder: "ui-state-highlight"
            });
        });
    </script>
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-top: 52px" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ board.name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'create_swim_lane' board.pk %}">Create swim lane</a></li>
                            <li><a href="{% url 'delete_swim_lanes' board.pk %}">Delete swim lanes</a></li>
                            {% if is_kbm %}
                                <li><a href="{% url 'copy_board_structure' board.pk %}">Create a new board with this
                                    structure</a></li>
                                <li><a href="{% url 'board_properties' board.pk %}">Cards settings</a></li>
                            {% endif %}
                            <li><a href="{% url 'create_card'  board.pk  'nc' %}">Add card</a></li>
                            <li><a href="{% url 'create_card'  board.pk 'sb' %}">Add urgent requirement</a></li>
                            <li><a href="{% url 'card_movement_permission'  board.pk %}">Card movement permission</a>
                            </li>
                            <li><a href="{% url 'average_lead_time' board.pk %}">Average lead time</a></li>
                            <li><a href="{% url 'cumulative_flow_diagram' board.pk %}">Cumulative flow diagram</a></li>
                            <li><a href="{% url 'wip_list' board.pk %}">WIP list</a></li>
                            <li><a href="{% url 'task_distribution_diagram' board.pk %}">Task distribution diagram</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="" id="banner" style="margin-top: 52px">

        <div class="middle">
            {% if no_columns %}
                <div class="alert alert-danger">
                    <p>The board contains no columns.</p>
                    <a href="{% url 'create_column' board.id 1 %}">Create a column</a>
                </div>
            {% endif %}

            {% if no_swim_lanes %}
                <div class="alert alert-danger">
                    <p>The board contains no swim lanes.</p></div>
            {% endif %}

            {% if not columns_consistent %}
                <div class="alert alert-danger">
                    <p>The columns properties are not consistent. There should be 2 board columns, 1 acceptance ready
                        column and 1 acceptance testing column.
                    </p>
                </div>

            {% endif %}

            <table id="board" style="display: block;border: none; font-size: 13px"
                   class="table table-striped table-bordered table-condensed">
                <thead style="display: block">
                <tr>
                    {% for width, column in columns %}

                        {% if column.collapsed %}
                            <th style="max-width: 40px; min-width:40px" valign="top">
                                <a href="{% url 'collapse_column' column.id %}"> <i
                                        class="glyphicon glyphicon-collapse-down"></i></a>
                            </th>
                        {% else %}

                            <th style="max-width: {{ width }}px; min-width:{{ width }}px"
                                colspan="{{ column.subcolumn_set.all|length }}" valign="top">
                                {% if editable %}
                                    <a href="{% url 'create_column' board.id column.order %}">
                                        <img id="leftArrowSmall" alt="Create column on left"
                                             width="17" heigh="17" src="{% static "img/leftArrowSmall.png" %}"/>
                                    </a>
                                {% endif %}

                                {% if is_kbm %}
                                    <a href="{% url 'update_column' column.id %}">
                                        {{ column.name }}
                                    </a><a href="{% url 'collapse_column' column.id %}"><i
                                        class="glyphicon glyphicon-collapse-down"></i></a>

                                {% else %}
                                    <div style="font-size:16px;">
                                        {{ column.name }}<a href="{% url 'collapse_column' column.id %}"><i
                                                class="glyphicon glyphicon-collapse-down"></i></a>
                                        {#                                    <i class="glyphicon glyphicon-collapse-down" onclick="collapse(event, {{ forloop.counter }})"></i>#}
                                    </div>
                                {% endif %}

                                {% if editable %}
                                    <a href="{% url 'create_column' board.id column.order|add:"1" %}">
                                        <img id="rightArrowSmall" alt="Create column on right"
                                             width="17" heigh="17" src="{% static "img/rightArrowSmall.png" %}"/>
                                    </a>
                                {% endif %}

                                <br/>

                                {% if column.wip_limit %}
                                    WIP Limit: {{ column.wip_limit }}
                                {% endif %}

                                {% comment %}
                                <br />Order: {{ column.order }}
                                {% endcomment %}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <thead style="display: block">
                <tr>
                    {% for width, column in columns %}
                        {% if column.collapsed %}
                            <th style="max-width: 40px; min-width:40px" valign="top">
                            </th>
                        {% else %}
                            {% for subcolumn in column.subcolumn_set.all %}
                                <th style="max-width: 200px; min-width:200px">
                                    {% comment %}
                                    {% if column.subcolumn_set.all|length > 1 %}
                                        {{ subcolumn.name }}
                                    {% endif %}
                                    {% endcomment %}
                                    {#                                    <th style="max-width: 200px; min-width:200px">#}
                                    {% if editable %}
                                        <a href="{% url 'create_subcolumn' column.id subcolumn.order %}">
                                            <img id="leftArrowSmall" alt="Create subcolumn on left"
                                                 width="17" heigh="17" src="{% static "img/leftArrowSmall.png" %}">
                                        </a>
                                    {% endif %}

                                    {% if is_kbm %}
                                        <a href="{% url 'update_subcolumn' subcolumn.id %}">
                                            {{ subcolumn.name }}
                                        </a>
                                    {% elif column.subcolumn_set.count > 1 %}
                                        <h5>
                                            <em>
                                                {{ subcolumn.name }}
                                            </em>
                                        </h5>
                                    {% endif %}

                                    {% if editable %}
                                        <a href="{% url 'create_subcolumn' column.id subcolumn.order|add:"1" %}">
                                            <img id="rightArrowSmall" alt="Create subcolumn on right"
                                                 width="17" heigh="17" src="{% static "img/rightArrowSmall.png" %}">
                                        </a>
                                    {% endif %}

                                    {% comment %}
                                        <br />Order: {{ subcolumn.order }}
                                        {% endcomment %}
                                </th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody style="display: block">
                {% for swim_lane in swim_lanes %}
                    <tr id="{{ forloop.counter }}">

                        {% for width, column in columns %}
                            {% if column.collapsed %}
                                <th style="max-width: 40px; min-width:40px" valign="top">
                                    <p style="-webkit-transform: rotate(90deg); -moz-transform:rotate(90deg); -o-transform: rotate(90deg);">{{ column.name }}</p>
                                </th>
                            {% else %}

                                {% for subcolumn in column.subcolumn_set.all %}

                                    <td style="max-width: 200px; min-width:200px">
                                        {% if forloop.parentloop.counter == 1 and forloop.counter == 1 %}
                                            <span style="font-style: italic; color: gray">{{ swim_lane.project }}</span>
                                        {% endif %}
                                        <ul class="sortable connectedSortable">

                                            {% for card in subcolumn.userstorycard_set.all %}

                                                {% if card.project == swim_lane.project and not card.deleted %}
                                                    <li>
                                                        <p class="text-info card draggable card-box"
                                                           id="{{ board.pk }};{{ card.pk }};{% if column.order != 1 or subcolumn.order != 1 %}l{% endif %}{% if column.order != columns|length or subcolumn.order != column.subcolumn_set.all|length %}r{% endif %}"
                                                           style="background-color:white; border: 1px black solid">
                                                            {% if card.type == 'uc' %}
                                                                <span style="background-color:#FF7373"
                                                                      class="card-box-header ">{{ card.title }}</span>
                                                            {% elif  card.type == 'rc' %}
                                                                <span style="background-color:orange"
                                                                      class="card-box-header">{{ card.title }}</span>
                                                            {% else %}
                                                                <span style="background-color:yellow"
                                                                      class="card-box-header">{{ card.title }}</span>
                                                            {% endif %}
                                                            {% if board.n_days_reminder > 0 %}
                                                                {% if card.date_to_finish|timeuntil:curr_date > board.n_days_reminder %}
                                                                    {% if card.date_to_finish %}
                                                                        {% if not subcolumn.is_acceptance_testing_column %}
                                                                            {% if subcolumn.name != "Done" %}
                                                                            <span class="blink_me"> <strong>Days left:</strong><br />{{ card.date_to_finish|timeuntil:curr_date }}</span>
                                                                        {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}

                                                            <br/>

                                                            <strong>Card id:</strong>{{ card.id }}
                                                            <br />

                                                            <strong>Assigned:</strong><br />{{ card.responsible_person }}
                                                            <br />

                                                            {% if board.should_display_priority  %}
                                                                <strong>Priority:</strong> {{ card.priority }}
                                                                <br />
                                                            {% endif %}

                                                            {% if board.should_display_points %}
                                                                <strong>Points:</strong> {{ card.points }}
                                                                <br />
                                                            {% endif %}

                                                            {% if board.should_display_date_to_finish %}
                                                                <strong>Date to finish:</strong> {{ card.date_to_finish }}
                                                                <br />
                                                            {% endif %}

                                                            {% if subcolumn.is_acceptance_testing_column %}
                                                                <a href="{% url 'decline_story' board.pk card.pk %}">
                                                                    Decline </a>
                                                            {% endif %}

                                                            <a href="{% url 'card_details' card.pk %}"> Details </a>
                                                            <a href="{% url 'delete_card' card.pk %}"> <span
                                                                    class="glyphicon glyphicon-remove-circle"></span>
                                                            </a>

                                                        </p>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}
                                            <li></li>
                                        </ul>
                                    </td>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}




