{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    {% if permission_error %}
                        <p> {{ permission_error }}</p>

                    {% else %}

                        {% if violation %}
                            <h4> WIP violation detected. Please confirm your action. </h4>
                            <a href="{% url 'kanban.views.update_column_violation' column_id new_name new_wip_limit %}"><button type="button" class="btn btn-primary">Confirm</button> </a>
                        {% elif update_column_form %}

                            <form action="" method="post" style="width: 400px">
                                <h4 class="form-signin-heading">Update a column</h4>
                                <br/>
                                {% csrf_token %}

                                {{ update_column_form.non_field_errors }}

                                {% for error in update_column_form.name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_name">Column name</label>
                                <p>{{ update_column_form.name }}</p>
                                <br />
                                {% for error in update_column_form.wip_limit.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_wip_limit">WIP limit</label>
                                <p>{{ update_column_form.wip_limit }}</p>
                                <br />

                                <button class="btn btn-primary" type="submit">Update a column</button>
                            </form>

                            <br />

                            <a href="{% url 'delete_column' column_id %}" class="btn btn-danger btn-large">
                                <i class="icon-white icon-remove"></i> Delete this column
                            </a>

                            <br /><br /><br />
                            <h3> WIP Violations </h3>

                            {% if column_wip_violations|length > 0 %}

                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>

                                    {% for column_wip_violation in column_wip_violations %}
                                        <tr>
                                            <td> {{ column_wip_violation.column.name }} </td>
                                            <td> {{ column_wip_violation.user.username }} </td>
                                            <td> {{ column_wip_violation.date }} </td>
                                        </tr>
                                    {% endfor %}


                                </table>

                            {% else %}
                                <h4> There are no WIP violations made on this column. </h4>
                            {% endif %}

                        {% else %}
                            <h4 class="form-signin-heading">Column successfully updated!</h4>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
