{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">

                    {% if permission_error %}
                        <p> {{ permission_error }}</p>

                    {% else %}

                        {% if update_subcolumn_form %}

                            <form action="" method="post" style="width: 400px">
                                <h4 class="form-signin-heading">Update a subcolumn</h4>
                                <br/>
                                {% csrf_token %}

                                {{ update_subcolumn_form.non_field_errors }}

                                {% for error in update_subcolumn_form.name.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_name">Subcolumn name</label>
                                <p>{{ update_subcolumn_form.name }}</p>
                                <br />
                                {% for error in update_subcolumn_form.is_border_column.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_is_border_column">Is border subcolumn?</label>
                                <p>{{ update_subcolumn_form.is_border_column}}</p>
                                <br />
                                {% for error in update_subcolumn_form.is_highest_priority_card_column.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_is_highest_priority_card_column">Is a highest priority subcolumn?</label>
                                <p>{{ update_subcolumn_form.is_highest_priority_card_column}}</p>
                                <br />
                                {% for error in update_subcolumn_form.is_acceptance_testing_column.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_is_acceptance_testing_column ">Is acceptance testing subcolumn?</label>
                                <p>{{ update_subcolumn_form.is_acceptance_testing_column }}</p>
                                <br />

                                <button class="btn btn-primary" type="submit">Update a subcolumn</button>
                            </form>

                            <br />

                            {% if is_update %}
                            <a href="{% url 'delete_subcolumn' subcolumn_id %}" class="btn btn-danger btn-large">
                                <i class="icon-white icon-remove"></i> Delete this subcolumn
                            </a>
                            {% endif %}

                        {% else %}
                            <h4 class="form-signin-heading">{{ message }}</h4>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
