{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'login' %}">Log in</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header" id="banner">
        <div class="row login">
            <div class="middle" id="login_middle">
                {% if error %}
                    <div class="alert alert-warning"><strong>Oops!</strong> {{ error }}</div>
                {% endif %}
                <form method="post" action="#" class="form-signin" id="form_login" role="form">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Please register</h2>
                    <input type="email" name="username" class="form-control" placeholder="Username (email)" required="" autofocus="">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    <input type="password" name="password_repeat" class="form-control" placeholder="Repeat password" required="">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
                <img id="smrk_img" src="{% static "img/Brainy_Smurf.png" %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}