{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% elif error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
                <form action="{% url "add_user" %}" role="form" method="post" class="max_width500">{% csrf_token %}
                    <div class="form-group">
                        <label>First name:</label>
                        <input type="text" name="first_name" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label>Last name:</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="email" required="true" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" required="true" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Password (repeat):</label>
                        <input type="password" name="password_repeat" required="true" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Roles:</label><br>
                        {% for role in roles %}
                            <input type="checkbox" name="{{ role }}" value="{{ role }}"> {{ role }}<br>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Is the user administrator:</label><br>
                        <input type="checkbox" name="admin" value="Administrator"> Administrator<br>
                    </div>
                        <input type="submit" class="btn btn-primary" value="Add user" />
                    </table>
                </form>
            <img class="smrf_user" src="{% static "img/smrf_user.png" %}">
            </div>

        </div>
    </div>
</div>
{% endblock %}
