{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                <h3> Add task </h3>

                <br/>

                <h4 class="form-signin-heading">Please add tasks</h4>
                <br/>

                {% if create_task_form %}


                    <form action="" method="post" style="width: 400px">
                            {% csrf_token %}



                                {{ create_task_form.non_field_errors }}


                                {% for error in create_task_form.description.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_description">Description</label>
                                <p>{{ create_task_form.description }}</p>
                                <br/>
                                {% for error in create_task_form.hours.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_size">Hours</label>
                                <p>{{ create_task_form.hours }}</p>
                                <br/>

                            <button class="btn btn-primary" type="submit">Create Task</button>
                        </form>

                {% endif %}

                <br/>

                {% if tasks|length > 0 %}
                    <h3>Tasks</h3>
                    <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Hours</th>
                                <th>Finished</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.description }}</td>
                                        <td>{{ task.hours }}</td>
                                        <td>{% if task.finished %} Yes {% else %} No {% endif %}</td>
                                        <td>
                                            <a href="{% url "edit_task" task.card.pk task.pk %}"><span class="glyphicon glyphicon-edit"> Edit </span></a>
                                            <a href="{% url "delete_task" task.card.pk task.pk "2" %}"><span class="glyphicon glyphicon-remove"> Delete </span></a>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                {% else %}
                    <h4>There are currently no tasks</h4>
                {% endif %}



            </div>
        </div>
    </div>
</div>
{% endblock %}
