{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                {% if permission_error %}
                    <h4> {{ permission_error }}</h4>

                {% else %}

                    {% if success %}
                        <p style="color: green; font-weight: bold"> {{ success }} </p>
                        <br/>
                    {% endif %}

                    {% if create_card_movement_permission_form %}

                        <form action="" method="post" style="width: 400px">
                        <h4 class="form-signin-heading">Please add permission</h4>
                            <br/>
                            {% csrf_token %}

                                {{ create_card_movement_permission_form.non_field_errors }}


                                {% for error in create_card_movement_permission_form.subcolumn_from.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_subcolumn_from">Subcolumn from</label>
                                <p>{{ create_card_movement_permission_form.subcolumn_from }}</p>
                                <br/>

                                {% for error in create_card_movement_permission_form.subcolumn_to.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_subcolumn_to">Subcolumn to</label>
                                <p>{{ create_card_movement_permission_form.subcolumn_to }}</p>
                                <br/>

                                {% for error in create_card_movement_permission_form.po_allowed.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_po_allowed">Product owner allowed?</label>
                                <p>{{ create_card_movement_permission_form.po_allowed }}</p>
                                <br/>

                                {% for error in create_card_movement_permission_form.kbm_allowed.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_kbm_allowed">Kanban master allowed?</label>
                                <p>{{ create_card_movement_permission_form.kbm_allowed }}</p>
                                <br/>

                                {% for error in create_card_movement_permission_form.dp_allowed.errors %}
                                    <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                {% endfor %}
                                <label for="id_dp_allowed">Developer allowed?</label>
                                <p>{{ create_card_movement_permission_form.dp_allowed }}</p>
                                <br/>




                            <button class="btn btn-primary" type="submit">Create permission</button>
                        </form>

                    {% else %}
                        <h4 class="form-signin-heading">Movement permission successfully created!</h4>

                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}