{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">
                    {% if form %}

                        <form method="post" action="#" id="average_lead_time" role="form" style="width: 400px">
                            {% csrf_token %}
                           {{ form.as_table }}
                            <input type="submit" class="btn btn-primary" value="Submit">
                             <script>
                            $('#id_creation_date_from').datepicker({
                                format: 'yyyy-mm-dd',
                                endDate:'0d',
                                autoclose: true
                            });
                            $('#id_creation_date_to').datepicker({
                                format: 'yyyy-mm-dd',
                                endDate:'+1d',
                                autoclose: true
                            });
                            $('#id_finished_date_from').datepicker({
                                format: 'yyyy-mm-dd',
                                endDate:'+1d',
                                autoclose: true
                            });
                            $('#id_finished_date_to').datepicker({
                                format: 'yyyy-mm-dd',
                                endDate:'+1d',
                                autoclose: true
                            });
                            $('#id_actual_development_from').datepicker({
                                format: 'yyyy-mm-dd',
                                endDate:'+1d',
                                autoclose: true
                            });
                            $('#id_actual_development_to').datepicker({
                                format: 'yyyy-mm-dd',
                                endDate:'+1d',
                                autoclose: true
                            });

                            </script>
                        </form>
                    {% endif %}

                    {% if cards %}
                        <h4 class="form-signin-heading">Average lead time </h4> <br />
                        <b> {{ column_from }} </b> to <b>{{ column_to }}</b> <br /><br />
                        <table class="table table-hover">
                            <tr>
                                <td><b>Title</b></td>
                                <td><b>Lead time</b></td>
                            </tr>
                            {% for card in cards  %}
                                <tr>
                                    <td> {{ card.title }}</td>

                                    <td>
                                        {% if card.lead_time == -2 %}
                                            card not yet in {{ column_to }}

                                        {% else %}
                                            {{ card.lead_time }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><b>Average lead time</b></td>
                                <td>{{ lead_time }}</td>
                            </tr>
                        </table>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}