{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>smrkanban</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "datepicker/css/datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/table/temporary_table_css.css" %}">

    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}"></script>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div  style="float: left"><a class="navbar-brand" href="{% url 'home' %}">Smrkanban</a> {% block header_content %}{% endblock %}</div>

        </div>
        <div class="navbar-collapse collapse">

            {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'help' %}">help</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {% block head_content %}{% endblock %}
                </li>
            </ul>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="">
      <div class="">

            {% block content %}
            {% endblock %}
      </div>
    </div>

</body>
</html>
