{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">


            <h3>Card movement permissions</h3>
            <br/>
            {% if card_movement_permissions|length > 0 %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Subcolumn from</th>
                            <th>Subcolumn to</th>
                            <th>Product owner allowed</th>
                            <th>Kanban master allowed</th>
                            <th>Developer allowed</th>
                            <th>Date created</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card_movement_permission in card_movement_permissions %}
                                <tr>
                                    <td> {{ card_movement_permission.subcolumn_from.column.name }} -> {{ card_movement_permission.subcolumn_from.name }} </td>
                                    <td> {{ card_movement_permission.subcolumn_to.column.name }} -> {{ card_movement_permission.subcolumn_to.name }} </td>
                                    <td> {% if card_movement_permission.po_allowed %} Yes {% else %} No {% endif %} </td>
                                    <td> {% if card_movement_permission.kbm_allowed %} Yes {% else %} No {% endif %} </td>
                                    <td> {% if card_movement_permission.dp_allowed %} Yes {% else %} No {% endif %} </td>
                                    <td> {{ card_movement_permission.date_created }} </td>
                                    <td>
                                        {% if team_kbm.pk == request.user.pk %}
                                            <a href="{% url 'edit_card_movement_permission' board.pk card_movement_permission.pk %}"> <span class="glyphicon glyphicon-edit"> Edit </span></a>
                                            <a href="{% url 'remove_card_movement_permission' board.pk card_movement_permission.pk %}"> <span class="glyphicon glyphicon-remove-circle"> Remove </span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>There are no movement permissions.</h4>
                {% endif %}

                {% if team_kbm.pk == request.user.pk %}
                    <a href="{% url 'add_card_movement_permission' board.pk %}"><button type="button" class="btn btn-primary">Add permission</button></a>
                {% endif %}



            </div>
        </div>
    </div>
</div>
{% endblock %}