{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                <h2>Card details</h2>

                <br/>

                <h3>Basic information</h3>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="text-align: center">Title</th>
                        <th style="text-align: center">Project code</th>
                        <th style="text-align: center">Board name</th>
                        <th style="text-align: center">Team</th>
                        <th style="text-align: center">Type</th>
                        <th style="text-align: center">Priority</th>
                        <th style="text-align: center">Points</th>
                        <th style="text-align: center">Date created</th>
                    </tr>
                    </thead>

                    <tr>
                        <td style="text-align: center"> {{ card.title }} </td>
                        <td style="text-align: center"> {{ card.project.code }} </td>
                        <td style="text-align: center"> {{ card.project.swim_lane.board.name }} </td>
                        <td style="text-align: center"> {{ card.project.team.team_name }} </td>
                        <td style="text-align: center"> {% if card.type == 'nc' %} Normal {% else %} Silver bullet {% endif %}  </td>
                        <td style="text-align: center"> {% if card.priority == 'low' %} Low {% elif card.priority == 'medium' %} Medium {% else %} High {% endif %} </td>
                        <td style="text-align: center"> {{ card.points }} </td>
                        <td style="text-align: center"> {{ card.date_created }} </td>
                    </tr>

                </table>
                <a href="{% url 'edit_card' card.pk %}"> <span class="glyphicon glyphicon-edit"> Edit </span></a>
                <br/>

                <h3> Card description </h3>
                <p> {{ card.description }} </p>
                <br/>

                <h3> Card Movement </h3>

                    {% if card_movements|length > 0 %}

                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>From column</th>
                            <th>To column</th>
                            <th>User</th>
                            <th>Date</th>
                        </tr>
                        </thead>

                        {% for card_movement in card_movements %}
                        <tr>
                            <td> {{ card_movement.column_from.name }} </td>
                            <td> {{ card_movement.column_to.name }} </td>
                            <td> {{ card_movement.user.username }} </td>
                            <td> {{ card_movement.date }} </td>
                        </tr>
                        {% endfor %}


                        </table>
                    {% else %}
                        <h4> There are no movements of any card from any column yet. </h4>
                    {% endif %}

                <br/>

                <h3> WIP Violations </h3>

                    {% if card_wip_violations|length > 0 %}

                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Column</th>
                            <th>User</th>
                            <th>Date</th>
                        </tr>
                        </thead>

                        {% for card_wip_violation in card_wip_violations %}
                        <tr>
                            <td> {{ card_wip_violation.column.name }} </td>
                            <td> {{ card_wip_violation.user.username }} </td>
                            <td> {{ card_wip_violation.date }} </td>
                        </tr>
                        {% endfor %}


                        </table>

                    {% else %}
                        <h4> There are no WIP violations made by this card. </h4>
                    {% endif %}

                <br/>

                <h3>Tasks</h3>
                {% if tasks|length > 0 %}
                    <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Hours</th>
                                <th>Finished</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.description }}</td>
                                        <td>{{ task.hours}}</td>
                                        <td>{% if task.completed %} Yes {% else %} No {% endif %}</td>
                                        <td>
                                            <a href="{% url "edit_task" task.card.pk task.pk %}"><span class="glyphicon glyphicon-edit"> Edit </span></a>
                                            <a href="{% url "delete_task" task.card.pk task.pk "1" %}"><span class="glyphicon glyphicon-remove"> Delete </span></a>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                {% else %}
                    <h4>There are currently no tasks.</h4>
                {% endif %}

                <a href="{% url 'add_task' card.pk %}"> <span class="glyphicon glyphicon-edit"> AddTask </span></a>
                <br/>


            </div>
        </div>
    </div>
</div>
{% endblock %}
