{% extends "base.html" %}
{% load staticfiles %}
{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            {% include "left_navigation.html" %}
            <div class="row from_top">

                {% if card_added %}
                    <h4 class="form-signin-heading">Card has been succesfuly added!</h4>

                {% elif wip_violation %}
                    <h4> WIP violation detected. Please confirm your action </h4>
                    <a href="{% url 'confirm_wip_violation_and_create_card' board_id %}"><button type="button" class="btn btn-primary">Confirm</button> </a>
                {% endif %}

                {% if form %}
                    {% if card_type == 'sb' %}
                        <h4 class="form-signin-heading">Create urgent requirement</h4>
                    {% endif %}
                    {% if card_type == 'nc' %}
                        <h4 class="form-signin-heading">Create card</h4>
                    {% endif %}

                    <form method="post" action="#" id="create_card" role="form" style="width: 400px">
                        {% csrf_token %}
                       {{ form.as_table }}
                        <input type="submit" class="btn btn-primary" value="Submit">
                         <script>
                        $('#id_date_to_finish').datepicker({
                                format: 'yyyy-mm-dd',
                                startDate: '+0d',
                                autoclose: true
                            });
                        </script>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}