{% extends "base.html" %}
{% load staticfiles %}
{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

<style>

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .browser text {
        text-anchor: end;
    }

</style>



{% block content %}


    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">


                    {% if form %}
                        <h4 class="form-signin-heading">Cumulative flow diagram</h4>
                        <form method="post" action="#" id="cumulative_flow_diagram" role="form" style="width: 400px">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" class="btn btn-primary" value="Submit">
                            <script>
                                $('#id_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });

                                $('#id_creation_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                     endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_creation_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                     endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_finished_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                     endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_finished_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                     endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_actual_development_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_actual_development_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });

                            </script>
                        </form>

                    {% elif diagram_data %}
                       <h4 class="form-signin-heading">Cumulative flow diagram</h4>
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script type="text/javascript">
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                              /** var data = google.visualization.arrayToDataTable([
                                    ['Year', 'Sales', 'Expenses'],
                                    ['2013', 1000, 400],
                                    ['2014', 1170, 460],
                                    ['2015', 660, 1120],
                                    ['2016', 1030, 540]
                                ]);
*/{% autoescape off %}
                                var data = google.visualization.arrayToDataTable( {{ diagram_data }});
{% endautoescape%}
                                var options = {
                                    title: 'Cumulative flow diagram',
                                    hAxis: {title: 'Date', titleTextStyle: {color: '#333'}},
                                    vAxis: {title: 'Number of cards', minValue: 0},
                                    isStacked: true
                                };

                                var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                                chart.draw(data, options);
                            }
                        </script>
                        </head>
                        <div id="chart_div" style="width: 900px; height: 500px;"></div>

                        <a href="{% url 'display_board' board.pk %}" > Back to board </a></td>
                    {% else %}
                        There are no cards. <br /><br />
                        <a href="{% url 'display_board' board.pk %}" > Back to board </a></td>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
