{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                <h2> Decline story </h2>

                {% if permission_error %}
                    <h4> Only product owner can decline story! </h4>

                {% else %}

                     <form action="" method="post" style="width: 400px">
                            <br/>
                            <h4 class="form-signin-heading">Please select subcolumn where you want to move your card</h4>
                                <br/>

                                    {% csrf_token %}

                                    {{ subcolumn_declined_story_form.non_field_errors }}


                                    {% for error in create_project_form.code.errors %}
                                        <p style="float: right; color: red; font-weight: bold">{{ error }}</p>
                                    {% endfor %}
                                    <label for="id_code">Select subcolumn</label>
                                    <p>{{ subcolumn_declined_story_form.subcolumn }}</p>
                                    <br/>



                                <button class="btn btn-primary" type="submit">Confirm</button>
                            </form>
                {% endif %}



            </div>
        </div>
    </div>
</div>
{% endblock %}
