{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                <h3> Delete card </h3>

                {% if message %}
                    <h4> {{ message }} </h4>

                {% elif delete_card_form %}
                    <form action="" method="post" style="width: 400px">
                        <br/>
                        <h4 class="form-signin-heading">Please enter reason for deleting card</h4>
                            <br/>
                            {% csrf_token %}
                            {{ delete_card_form.as_p }}

                            <button class="btn btn-primary" type="submit">Confirm</button>
                        </form>

                {% endif %}


            </div>
        </div>
    </div>
</div>
{% endblock %}