{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% elif error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
                <form action="{% url "edit_user" user_id %}" role="form" method="post" class="max_width500">{% csrf_token %}
                    <div class="form-group">
                        <label>First name:</label>
                        <input type="text" name="first_name" class="form-control" value="{{ user_.first_name }}">
                    </div>
                    <div class="form-group">
                        <label>Last name:</label>
                        <input type="text" name="last_name" class="form-control" value="{{ user_.last_name }}">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="email" required="true" class="form-control" value="{{ user_.username }}">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Password (repeat):</label>
                        <input type="password" name="password_repeat" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Roles:</label><br>
                        <input type="checkbox" {% if user_profile.can_be_kbm %}checked{% endif %} name="KanbanMaster" value="KanbanMaster">Kanban Master<br>
                        <input type="checkbox" {% if user_profile.can_be_po %}checked{% endif %} name="ProductOwner" value="ProductOwner">Product Owner<br>
                        <input type="checkbox" {% if user_profile.can_be_dp %}checked{% endif %} name="Developer" value="Developer">Developer<br>
                    </div>
                    <div class="form-group">
                        <label>Is the user administrator:</label><br>
                        <input type="checkbox" {% if user_.is_superuser %}checked{% endif %} name="admin" value="Administrator"> Administrator<br>
                    </div>
                        <input type="submit" class="btn btn-primary" value="Edit user" />
                    </table>
                </form>
            <img class="smrf_user" src="{% static "img/smrf_user.png" %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}
