{% extends "base.html" %}
{% load staticfiles %}
{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            {% include "left_navigation.html" %}
            <div class="row from_top">
                {% if message %}
                    <h4 class="form-signin-heading"> {{ message }}</h4>
                    <br />
                    <a href="{% url 'display_board' board_id %}" > Back to board. </a>
                {% endif %}
                {% if form %}
                    <h3>Edit card</h3>
                    <form method="post" action="#" id="edit_card" role="form" style="width: 400px">
                        {% csrf_token %}
                       {{ form.as_table }}
                        <input type="submit" class="btn btn-primary" value="Submit">
                         <script>
                        $('#id_date_to_finish').datepicker({
                                format: 'yyyy-mm-dd',
                                startDate:'+0d',
                                autoclose: true
                            });
                        </script>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}