{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "left_navigation.html" %}
    {% endif %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">
                    {% if error %}
                        <div class="alert alert-danger"><strong>Oops!</strong> {{ error }}</div>
                    {% else %}
                        <h3>Help</h3>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            User log in
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        User can log in with username and password. User password is the same as user email.<br>
                                        User can mistype his username or password five times. After that user account is locked.<br>
                                        Only active users can login. If you are not active then admin deactivated your account.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            User registration
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        User register with email (that becomes user's username) and password. <br>
                                        User have to repeat his password twice because we want to reduce typing errors.<br>
                                        Everybody can register to smrkanban.com. By default after registration user account is active.<br>
                                    </div>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            Table creation
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        KanbanMaster can create new table and (while it's empty) he can change it's structure. <br>
                                        Each table can show one ore more group projects. Each project has his swimming lane. WIP is the same for all projects on the table.<br>
                                        Larger amount of groups on the same table is usualy used if the developmet group is working on several projects.<br>
                                        You can create table by adding several colums. Each colum can have several columns. All the colums that does not contain card can be deleted.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                            Project management
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        KanbanMaster can create, edit and delete informations about projects. <br>
                                        On project creation you have to specify priject number, project name, name of client, date of start and alleged date of end. <br>
                                        Project is then asigned to development group. Same delepoment group can work on multiple projects.<br>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            Card deletion
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Product Owner and KanbanMaster are able to delete the card.
                                        Product Owner can delete cards until development starts. KanbanMaster can delete card in any column. <br>
                                        Card is never acually deleted and it's still stored in the database. You have to state why you deleted that card.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                            Card movement
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        User can (based on his rights) move card form one colum to the other. <br>
                                        Card is usualy moved for one colum at the time.<br>
                                        Cards that were not exepted vy product owner in testing phaze are an exception.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                            Card detail
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        User can view card informations (from the cards that are on his board). <br>
                                        User can see all the informations that are stored in database.<br>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                            Update card information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        User can (based on his rights) update card informations. <br>Which data can be updated is based on column where card is located and user role.

                                    </div>
                                </div>
                            </div>
                        {%endif %}

                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
