{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
                {% if error %}<div class="alert alert-danger"><strong>Oops!</strong> {{ error }}</div>{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
