{% url 'home' as home %}
{% url 'team' as team %}
{% url 'project' as project %}
{% url 'boards' as boards %}
{% url 'users' as users %}

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="{% ifequal request.path home %}active{% endifequal %}"><a href="{% url 'home' %}#"><span class="glyphicon glyphicon-home "> Home</span></a></li>
    <li class="{% ifequal request.path team %}active{% endifequal %}"><a href="{% url 'team' %}"><span class="glyphicon glyphicon-tags "> Teams</span></a></li>
    {% if user.is_staff %}
    <li class="{% ifequal request.path users %}active{% endifequal %}"><a href="{% url 'users' %}"><span class="glyphicon glyphicon-tags "> Users</span></a></li>
    {% endif %}
    <li class="{% ifequal request.path project %}active{% endifequal %}"><a href="{% url 'project' %}"><span class="glyphicon glyphicon-tags "> Projects</span></a></li>
    <li class="{% ifequal request.path boards %}active{% endifequal %}"><a href="{% url 'boards' %}"><span class="glyphicon glyphicon-tags "> Boards</span></a></li>
    <li class="{% ifequal request.path activity %}active{% endifequal %}"><a href="{% url 'activity' %}"><span class="glyphicon glyphicon-tags "> Activities</span></a></li>
  </ul>
</div>
