{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">

                {% if message %}
                    <p> {{ message }} </p>

                {% elif violation %}
                    <h4> WIP violation detected. Please confirm your action </h4>
                    <a href="{% url 'confirm_wip_violation' board.id card.id subcolumn.id %}"><button type="button" class="btn btn-primary">Confirm</button> </a>

                {% elif permission_error %}
                    <h4> {{ permission_error }} </h4>

                {% endif %}


            </div>
        </div>
    </div>
</div>
{% endblock %}
