{% extends "base.html" %}
{% load staticfiles %}
{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

<style>

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .browser text {
        text-anchor: end;
    }

</style>



{% block content %}
    <head>
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawChart() {

                // Create the data table.
                var data = new google.visualization.DataTable();
                var data2 = new google.visualization.DataTable();
                data.addColumn('string', 'Responsible person');
                data.addColumn('number', 'Number of tasks');
                data2.addColumn('string', 'Responsible person');
                data2.addColumn('number', 'Number of points');
                is_data = false
                {% for d in developers %}
                    //data.addRow([{{ d.0 }} , {{ d.1 }}])
                    data.addRow(["{{ d.0 }}", {{ d.1 }}])
                    data2.addRow(["{{ d.0 }}", {{ d.2 }}])
                    {% if d.1 > 0 %}
                        is_data = true
                    {% endif %}
                {% endfor %}
                // Set chart options
                var options = {'title': 'Task distribution',
                    'width': 700,
                    'height': 300};
                var options2 = {'title': 'Task distribution',
                     'width': 700,
                     'height': 300};

                // Instantiate and draw our chart, passing in some options.
                if (is_data){
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                    var chart2 = new google.visualization.PieChart(document.getElementById('chart2_div'));
                    chart2.draw(data2, options2);
                }
            }
        </script>
    </head>


    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row from_top">
                    {% if form %}
                        <h4 class="form-signin-heading">Task distribution diagram</h4>
                        <form method="post" action="#" id="task_distribution_diagram" role="form" style="width: 400px">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" class="btn btn-primary" value="Submit">
                            <script>
                                $('#id_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });
                                $('#id_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });

                                $('#id_creation_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });
                                $('#id_creation_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });
                                $('#id_finished_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });
                                $('#id_finished_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });
                                $('#id_actual_development_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });
                                $('#id_actual_development_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate: '+1d',
                                    autoclose: true
                                });

                            </script>
                        </form>

                    {% elif developers %}
                        <h4 class="form-signin-heading">Task count</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Developer</th>
                                <th>Number of tasks</th>
                            </tr>
                            </thead>

                            {% for d in developers %}
                                <tr>
                                    <th>{{ d.0 }}</th>
                                    <th>{{ d.1 }}</th>
                                </tr>
                            {% endfor %}
                        </table>
                        <div id="chart_div"></div>
                        <h4 class="form-signin-heading">Number of points</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Developer</th>
                                <th>Number of points</th>
                            </tr>
                            </thead>

                            {% for d in developers %}
                                <tr>
                                    <th>{{ d.0 }}</th>
                                    <th>{{ d.2 }}</th>
                                </tr>
                            {% endfor %}
                        </table>
                       <div id="chart2_div"></div>
                        <a href="{% url 'display_board' board.pk %}"> Back to board </a></td>
                    {% else %}
                        There are no cards. <br/><br/>
                        <a href="{% url 'display_board' board.pk %}"> Back to board </a></td>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
