{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

{% include "left_navigation.html" %}
<div id="content">
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row from_top">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% elif error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
                {% if teams|length > 0 %}
                    <h3>Users</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usr, roles in users %}
                                <tr>
                                    <td>{{ usr.user.username }}</td>
                                    <td>{% if usr.user.is_active %}Active {% else %} Deactivated{% endif %}</td>
                                    <td>{{ roles|join:", "}}</td>
                                    <td>
                                        <a href="{% url "edit_user" usr.pk %}"><span class="glyphicon glyphicon-edit">Edit </span></a>
                                        {% if usr.user.is_active %}
                                            <a href="{% url "edit_user" usr.user.pk %}?deactivate=t"><span class="glyphicon glyphicon-remove-circle">Deactivate</span></a>
                                        {% else %}
                                            <a href="{% url "edit_user" usr.user.pk %}?activate=t"><span class="glyphicon glyphicon-ok-circle">Activate</span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>There are no users.</h3>
                {% endif %}
                <a href="{% url 'add_user' %}"><button type="button" class="btn btn-primary">Add user</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
