{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <li><a href="{% url 'logout' %}">Log out</a></li>
{% endblock %}

{% block content %}

    {% include "left_navigation.html" %}
    <div id="content">
        <div class="container">
            <div class="page-header" id="banner">
                <br/><br/>

                <div class="middle">
                     <h4 class="form-signin-heading">Wip violations</h4>
                    {% if form %}

                        <form method="post" action="#" id="wip_wiolations" role="form" style="width: 400px">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" class="btn btn-primary" value="Submit">
                            <script>
                                $('#id_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_creation_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_creation_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_finished_date_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_finished_date_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_actual_development_from').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });
                                $('#id_actual_development_to').datepicker({
                                    format: 'yyyy-mm-dd',
                                    endDate:'+1d',
                                    autoclose: true
                                });

                            </script>
                        </form>
                    {% else %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Card number</th>
                                <th>Card Title</th>
                                <th>Project code</th>
                                <th>Team name</th>
                                <th>User</th>
                                <th>Board name</th>
                                <th>Column name</th>
                                <th>Reason</th>
                                <th>Date</th>
                            </tr>
                            </thead>

                            {% for wip in wips %}

                                <tr>
                                    <td> {{ wip.card.pk }}</td>
                                    <td> {{ wip.card.title }} </td>
                                    <td> {{ wip.card.project.code }} </td>
                                    <td> {{ wip.card.project.team.team_name }} </td>
                                    <td> {{ wip.user.username }} </td>
                                    <td> {{ wip.card.project.swim_lane.board.name }} </td>
                                    <td> {{ wip.column.name }} </td>
                                    <td>
                                        {% if wip.reason %}
                                            {% if wip.reason == 'cc' %}
                                                Card creation
                                            {% else %}
                                                Card movement
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td> {{ wip.date }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}



